.card {
    padding: 20px;
    background-color: var(--background-secundary);
    border: 1px solid var(--border-secundary);
    border-radius: 10px;
    box-shadow: 0px 0px 50px var(--background-card-shadow-primary);

    &-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}