.site-signature {
    color: var(--text-primary);
    position: absolute;
    bottom: 60px;
}

@media screen and (max-width: 768px) {
    .site-signature {
        bottom: 8px;
        font-size: 12px;
    }
}