html.landing-dark {
    // Background
    --background-primary: #0D0D0D;
    --background-secundary: #2e2e2e;

    --background-card-shadow-primary: #303030;

    // Border

    --border-primary: #595959;
    --border-secundary: #494949;

    // Text
    --text-primary: #fff;
    --text-secondary: #f0f0f0;

    // Colors
    --primary-color: #1e90ff;
    --primary-color-hover: #0057ad;

    --secondary-color: #f0f0f0;
    --secondary-color-hover: #cccccc;
}