html.landing-light {

    // Background
    --background-primary: #ffffff;
    --background-secondary: #FAF8FF;

    --background-card-shadow-primary: #8a8a8a;

    // Border
    --border-primary: #E9E8FF;
    --border-secundary: #dddddd;

    // Text
    --text-primary: #3a3a3a;
    --text-secondary: #444;
}