html.light {
    // Font
    --font-family-primary: "Urbanist", sans-serif;
    --font-family-secundary: "DM Sans", sans-serif;

    // Background
    --background-primary: #ffffff;
    --background-secundary: #ffffff;
    --background-card-shadow-primary: #8a8a8a;

    // Border
    --border-primary: #ccc;
    --border-secundary: #dddddd;

    // Text
    --text-primary: #3a3a3a;
    --text-secondary: #444;

    // Colors
    --primary-color: #6A4EE9;
    --primary-color-hover: #4b38a1;
    
    --secondary-color: #FF2AAC;
    --secondary-color-hover: #bb2080;
}