html.light {
    // Background
    --background-primary: #ffffff;
    --background-secundary: #ffffff;

    --background-card-shadow-primary: #8a8a8a;

    // Border
    --border-primary: #ccc;
    --border-secundary: #dddddd;

    // Text
    --text-primary: #3a3a3a;
    --text-secondary: #444;

    // Colors
    --primary-color: #1e90ff;
    --primary-color-hover: #0057ad;
    
    --secondary-color: #dddddd;
    --secondary-color-hover: #cccccc;
}