@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--background-primary);
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    transition: .3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, i {
    color: var(--text-primary);
}

button {
    background: none;
    border: none;
}