* {
    --font-family-primary: "Urbanist", sans-serif;
    --font-family-secondary: "DM Sans", sans-serif;

    --primary-color: rgba(154,89,181,1);
    --primary-color-hover: rgba(105,61,123,1);
    
    --secondary-color: rgba(243,156,17,1);
    --secondary-color-hover: rgba(193,123,11,1);
    
    --third-color: rgba(53,152,219,1);
    --third-color-hover: rgba(29,95,138,1);
    
    --default-color: rgba(51,51,51,1);
    --default-color-hover: rgba(0,0,0,1);
    
    --danger-color: rgba(254,49,82,1);
    --danger-color-hover: rgba(189,35,60,1);
    
    --warning-color: rgba(255,208,17,1);
    --warning-color-hover: rgba(214,174,12,1);
    
    --success-color: rgba(37,140,81,1);
    --success-color-hover: rgba(28,133,73,1);

    --gold-color: rgba(255,194,37,1);

    --disabled-color: rgba(210,210,210, .4);

    --white-color: rgba(255,255,255, 1);
}