@import 'variables.scss';

@import './themes/light';
@import './themes/dark';
@import './themes/landing-light';
@import './themes/landing-dark';

@import './bootstrap-override/bootstrap-override.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import '../components/post-card/style/post-card';
@import '../components/landing-page/main-menu/styles/main-menu';
@import '../components/logo/style/logo';
@import '../components/QuickSearch/style/quick-search';
@import '../components/modal/style/modal';

@import 'reset.scss';

@import './pages/home';

@import 'components/basic-ui/background';
@import 'components/basic-ui/card';
@import 'components/basic-ui/user-card';
@import 'components/basic-ui/signature';
@import '../components/theme-manager/styles/toggle-switch';


html, body {
    transition: .3s ease-in-out;
}

.inativo {
    opacity: 0;
}

#landing-page {
    @import '../components/landing-page/header/style/header';

    p, span, a {
        font-family: var(--font-family-primary);
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-family-secundary);
    }
}