$font-family: "Montserrat", sans-serif;

// Background
$background-primary: #0D0D0D;
$background-secundary: #595959;

// Border

$border-primary: #595959;
$border-secundary: #0D0D0D;

// Text
$text-light: #F2F2F2;
$text-dark: #595959;
$text-darker: #0D0D0D;

// Colors
$primary-color: #BAF266;
$secundary-color: #DAF280;