$font-family: "Montserrat", sans-serif;

// Background
$background-primary: #0D0D0D;
$background-secundary: #2e2e2e;
<<<<<<< HEAD

$background-card-shadow-primary: #303030; 
=======
>>>>>>> main

// Border

$border-primary: #595959;
$border-secundary: #494949;

// Text
$text-light-primary: #F2F2F2;
$text-light-secondary: #979797;
$text-dark: #595959;
$text-darker: #0D0D0D;

// Colors
$primary-color: #1e90ff;
$primary-color-hover: #0057ad;
$secundary-color: #11569b;